@model IEnumerable<MCP70480jsMVC.Models.Member>

@{

}
<h2>title</h2>
<ul>
    @foreach (var member in Model)
    {
        <li>@member.Id = @member.Name</li>
    }
</ul>
<div style="margin-top: 20px; color: blue">
    @Html.Action("CurrenTime", "Home")
</div>